body {
    margin: 0;
  } 
  .wrapper{
    background: #ccc;
    display: flex;
    flex-direction: column;
    overflow-x: auto; /* Enable horizontal scroll */
    white-space: nowrap; /* Prevent line breaks */
  }
  .header, .footer{
    height: 50px;
    background: rgb(255, 255, 255);
    color: rgb(46, 46, 46);
    font-size: 1.5rem;
    padding: 10px;
  }
  .content {
    display: flex;
    flex: 1;
    background: #999;
    color: #000; 
  }
  .columns{
    display: flex;
    flex:1;
  }
  .main{
    flex: 1;
    order: 2;
    background: #fff;
  }
  .sidebar-first{
    width: 20%;
    background: #ccc;
    order: 1;
  }
  .sidebar-second{ 
    width: 30%;
    order: 3;
    background: #ddd;
  }
  .yellow-text {
    color: rgb(233, 233, 10) !important;
}
  .margin-table{
    margin: 1rem 0;
  }
  .text-align-center {
    text-align: center !important;
  }

.scrollable-x {
    overflow-x: auto; /* Enable horizontal scroll */
}

.color-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 1rem 0 2rem 0;
}

.color-box__item {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust margin as needed */
}

.color-box__color {
    width: 20px; /* Adjust width of color box */
    height: 20px; /* Adjust height of color box */
    margin-right: 5px; /* Adjust margin between color box and text */
    border-radius: 10px;
}

.color-box__text {
    font-size: 14px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
}

.color-box__color--green {
    background-color: green; /* Change to desired green color */
}

.color-box__color--red {
    background-color: red; /* Change to desired red color */
}
.color-box__color--yellow {
    background-color: rgb(233, 233, 10); /* Change to desired red color */
}


